@model IEnumerable<SoccerStats.Models.ViewModels.Competition>

@{
    ViewBag.Title = "LeagueSelection";
}

<h2>League Selection</h2>
<br />

<table class="table" style="width:100%">
    <tr>
        <th>Title</th>
        <th>Abbreviation</th>
        <th>Year</th>
    </tr>
    @foreach (var comp in Model)
    {
        <tr>
            <td>@Html.ActionLink(@comp.caption, "LeagueStandings", "Home", new { id = comp.id }, null)</td>
            <td>@comp.league</td>
            <td>@comp.year</td>
        </tr>
    }

</table> 
